*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    margin-top: 130px;
    margin-left: 380px;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
    width: 40%;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #A3AAAf;
}

h1{
    font-family: cursive;
    color: #fff;
    text-align: center;
}

.msg{
    font-family: cursive;
    color: #fff;
    text-align: center;
}

span{
    display: block;
}

button{
    width: 130px;
    height: 50px;
    font-family: cursive;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 5px 5px 5px #A3AAAf;
}

.signup{
    margin-left: 110px;
}

.login{
    margin-left: 30px;
}